# Dependencies
node_modules
vendor

# Environment
.env
.env.testing

# Build output
dist

# Laravel cache/logs
Akwab-Api/storage/logs/*.log
Akwab-Api/bootstrap/cache/*.php

# IDE
.idea
.vscode

# Tests
coverage